# Dependencies
node_modules

# Build outputs
dist
dist-ssr
*.local

# Logs
*.log

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package manager
package-lock.json
pnpm-lock.yaml
yarn.lock
